@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic");

:root {
	--clrThemeBlue: rgb(64, 235, 221);
	--clrThemeTeal: rgb(154, 124, 181);
	--clrMain100: white;
	--clrMain300: rgb(165, 163, 163);
	--clrMain900: black;
    --bgaccent: rgb(87, 83, 83);
	--ombreTheme: linear-gradient(45deg, var(--clrMain900), var(--clrThemeTeal), var(--clrThemeBlue));
	

	--ffTheme: "Source Code Pro", monospace, Helvetica, sans-serif;
	--ffAccent: Arial, Helvetica, sans-serif;

	--fsMain: clamp(.75rem, 3vw, 1rem);
	--fsSpecial: clamp(1rem, 3vw, 1.5rem);
	--fsSectionHeader: clamp(2rem, 6vw, 3rem);
	--fsContentHeader: clamp(1.5rem, 5vw, 2.5rem);
	--fsContentHeaderMed: clamp(1.5rem, 4.5vw, 2rem);
    --fsNavBar: clamp(.5rem, 2vw, .65rem);
    --logoWidth: clamp(15rem, 5vw, 20rem);
	--packageLogo: clamp(10rem, 4vw, 15rem);
	--splitWidth: clamp(300px, 40vw, 700px);

	--scroll-animation-time: 1s;
  	--ease-out-back: cubic-bezier(0.34, 1.56, 0.64, 1);
  	--reveal-distance: 200px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--ffTheme);
    line-height: 1.6;
    color: var(--clrMain100);
	background: var(--clrMain900);
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

a {
    text-decoration: none;
    list-style: none;
}

h1,
h2,
h3,
p { 
    margin: 0; 
	line-height: 1.6;
	color: var(--clrMain100);
} 

.spanishH1 {
	font-size: var(--fsContentHeader);
}

.spanishP {
	font-size: var(--fsMain);
}

h1,
h2 {
    font-family: var(--ffTheme);
    font-weight: 800;
    line-height: 1.2;
    font-size: var(--fsContentHeader);
}

h3 {
	font-size: var(--fsContentHeaderMed);
}

p, 
span {
    font-family: var(--ffAccent);
    font-size: var(--fsMain);
}

#starterHome {
	position: relative;
}

#starterHome header {
	display: grid;
	place-items: start;
	position: fixed;
	inset: 0;
	background: var(--clrMain900);
	box-shadow: 0 0 5px var(--clrMain100);
	height: 15dvh;
}

.desktop ul li {
    font-size: 1rem;
}

h2, 
h3,
p {
    margin-bottom: .25rem;
}

.fa {
	color: var(--clrMain100);
}

.fa:hover {
	color: var(--clrThemeTeal);
}

.title {
	display: grid;
	place-items: center;
}

.imgContainer {
	max-width: 100%;
	height: auto;
	border-radius: .5rem;
	margin: auto;
}

#nextPageIcons {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	color: var(--clrThemeTeal);
}

#nextPageIcons a:hover {
	color: var(--clrThemeTeal);
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

ul {
	text-decoration: none;
	list-style: none;
}

.hamburgerMenu {
	display: none;
}

/* .desktop {
	display: block;
} */

#home,
#gallery,
#testimonial,
#faq,
#packages,
#contactMe,
#about {
	max-width: 100dvw;
	min-height: 100dvh;
	margin: 0 auto;
	overflow-x: hidden;
}

#faq,
#packages,
#gallery,
#contactMe,
#about {
	padding-top: 2rem;
}

.button,
button {
	width: 12rem;
	height: 1.5rem;
	border-radius: .5rem;
	border: 2px solid var(--clrMain100);
	background: var(--clrMain900);
	color: var(--clrMain100);
	text-decoration: none;
	list-style: none;
}

.button:hover,
button:hover {
	background: var(--ombreTheme);
	color: var(--clrMain900);
}


#about,
#advertisement {
	animation: scrollReveal ease-in-out both;
	animation-timeline: view(75% 5%);
}

@keyframes scrollReveal {
	from {
		opacity: 0;
		transform: translateY(200px) scale(.3);
	}
	to {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
}

#gallery,
#packages,
#contactMe {
	animation: scrollRevealRight ease-in-out both;
	animation-timeline: view(80% 5%);
}

@keyframes scrollRevealRight {
	from {
		opacity: 0;
		transform: translateX(-200px) scale(.3);
	}
	to {
		opacity: 1;
		transform: translateX(0) scale(1);
	}
}

.packageLogo {
	width: var(--packageLogo);
	margin-top: .75rem;
	padding-bottom: 3rem;
	margin: auto;
}

.packageLogo img {
	width: 90%;
}

nav .faFonts {
	padding-left: 1rem;
	padding-top: .75rem;
	margin: 0 2rem;
	font-size: var(--fsNavBar);
}

/* home */

#home, 
#change {
	min-height: 100dvh;
	max-width: 100dvw;
	color: var(--clrMain100);
	background: var(--clrMain900);
	position: relative;
	text-align: center;
    z-index: 1;
	display: grid;
	place-items: center;
}

/* header nav */
header,
#starterHome header {
	padding: 0 3%;
	display: flex;
	width: 100dvw;
	height: fit-content;
}

nav,
#starterHome nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: fit-content;
	gap: 1rem;
	margin: 0 auto;
	margin-top: -2rem;
}

nav ul,
#starterHome nav ul { 
	list-style: none; 
	padding: 0; 
	margin: 0; 
	display: flex; 
	justify-content: center; 
	align-items: center;
	flex-wrap: wrap; 
	text-decoration: none;
	font-size: clamp(1rem, 1.5vw, 1.5rem);
	height: 12dvh;
	width: 100%;
	margin: auto;
} 

nav ul li,
#starterHome nav ul li { 
	text-decoration: none;
	color: var(--clrMain100);
	font-size: .75rem;
	display: flex;
	justify-content: center;
	overflow: hidden;
	width: fit-content;
	height: fit-content;
	padding: 0 .5rem;
}

nav ul a,
.faFonts a {
	color: var(--clrMain100);
	gap: 1rem;
	margin-left: .5rem;
}

nav ul li:hover,
nav ul a:hover {
	color: var(--clrThemeTeal);
}

.logoContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.myLogo {
	width: var(--logoWidth);
	height: 5rem;
	object-fit: cover;
}

.myLogo img {
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}

.myLogo img:hover {
	stroke: var(--clrThemeTeal);
}

video {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -2;
}

#home .imgContainer a,
#change .imgContainer a {
	border: 2px solid var(--clrMain100);
	background: var(--ombreTheme);
	color: var(--clrMain100);
	border-radius: .5rem;
	padding: 0 .5rem;
	
}

#home .imgContainer a:hover,
#change .imgContainer a:hover {
	background: var(--bgaccent);
	color: var(--clrMain100);

}

#home::before,
#change::before {
    content: "";
    position: absolute;
    background: var(--clrMain900);
    inset: 0;
    opacity: .71;
    z-index: -1;
}

#home .imgContainer img,
#change .imgContainer img {
    border: 1px solid --clrMain900;
    border-radius: .5rem;
    box-shadow: 0 0 15px var(--clrMain100);

}

.split {
	display: grid;
	place-items: center;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 2rem;
	padding: .5rem 3%;
	margin: 0 auto;

}

.splitLeft,
.splitRight {
	min-width: 300px;
	padding: .5rem 3%;
}

.splitRight {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.splitLeft img {
	margin-bottom: .75rem;
}

.buttonList {
	max-width: 500px;
	margin: 1rem auto;
	font-size: .75rem;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.themeButton {
	background: var(--ombreTheme);
}

.buttonList a {
	padding: 0 .5rem;
}
	
#about, 
#Sitios {
	min-height: 100dvh;
	max-width: 100dvw;
	color: var(--clrMain100);
	display: grid;
	place-content: center;
	/* background-size: cover;
	place-items: center;
	object-fit: contain;
	position: relative;
	z-index: 1; */
}
/* 
#about:before, 
#Sitios:before {
	content: "";
	position: absolute;
	background-image: url("images/14_1.png");
	opacity: .4;
	inset: 0;
	color: var(--clrMain100);
	z-index: -1;
	background-size: cover;
	object-fit: contain;
} */

#about section, 
#Sitios section {
	margin: auto;
}

#about .container, 
#Sitios .container {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

#about p, 
#Sitios p {
	text-align: center;
	color: var(--clrMain100);
	margin: auto;
	max-width: 900px;
	padding-top: .5rem;
	font-size: var(--fsC); 
}

#about .portfolioGrid, 
#Sitios .portfolioGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1rem;
	min-height: 250px;
	place-items: center;
}

.aboutCard {
	border: 2px solid var(--clrMain100);
	min-width: 300px;
	min-height: fit-content;
	border-radius: .5rem;
	background: var(--gaccent);
	color: var(--clrMain100);
	padding: .5rem;
	margin: .5rem auto;
	display: grid;
	place-items: center;
	margin-bottom: .5rem;
	box-shadow: 0 0 15px var(--clrMain900);
}

.aboutCard img {
	border-radius: .5rem;
	border: 1px solid var(--clrMain100);
	box-shadow: 0 0 15px var(--clrMain900);
	object-fit: cover;
	overflow: hidden;
}

.aboutCard p {
	font-size: var(--fsNavBar);
}

.seo {
	object-fit: cover;
	place-content: center;
	width: 100%;
	height: 200px;
}


.aboutCard .button {
	margin: 0 auto;
	border: 2px solid var(--clrMain100);
	background: var(--clrMain100);
	color: var(--clrMain900);
	font-size: .75rem;
	padding-top: -2rem;
}

.aboutCard .button:hover {
	margin: 0 auto;
	border: 2px solid var(--clrMain100);
	background: var(--clrMain900);
	color: var(--clrMain100);
}

.aboutCard h3 {
	text-align: center;
	font-size: .85rem;
	color: var(--clrMain100);
	max-width: 100%;
	display: grid;
	place-items: center;
}

#about .arrowClass a, #Sitios .arrowClass a {
	text-decoration: none;
	height: 3dvh;
}
.arrowClass {
	height: 3dvh;
	margin: auto;
}

#gallery {
	min-height: 100dvh;
	max-width: 100dvw;
	background: var(--clrMain900);
	color: var(--clrMain100);
	display: grid;
	place-content: center;
	/* background: var(--clrMain900);
	margin: 0 auto;
	display: grid;
	place-items: center;
	place-content: center;
	padding: 1rem 2rem; */
}

.galleryGrid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	place-items: center;
	padding: 0 3rem;
	gap: 1rem;
}

#gallery h2 {
	padding: 2rem;
	text-align: center;
}

.galleryGrid .galleryCard {
	width: minmax(300px, 90dvw);
	height: fit-content;
	border-radius: .5rem;
	margin: 1rem auto;
	display: grid;
	place-items: center;
	margin-bottom: 1rem;
	padding: 0 2rem;
}

.galleryCard img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border: 2px solid var(--clrMain100);
	border-radius: .5rem;
	box-shadow: 5px 5px 15px var(--clrMain100);
}

#packages,
#Me {
	min-height: 100dvh;
	max-width: 100dvw;
	display: grid;
    gap: 1rem;
	text-align: center;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
	background: var(--clrMain900);
	color: var(--clrMain100);
    position: relative;
	line-height: 1.3;
	z-index: 1;
}
/* 
#packages:before,
#Me:before {
    content: "";
    position: absolute;
    background: url("images/14.png");
    background-size: cover;
    inset: 0;
    opacity: .5;
	z-index: -1;
} */

#packages .splitY {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#packages .packagesTop, 
#Me .packagesTop {
    max-width: 100dvw;
    min-height: 30dvh;
	display: grid;
    place-items: center;
    margin-bottom: 2rem;
    clear: both;
}

#packages .packagesTop > p {
	text-align: center;
	width: clamp(300px, 40vw, 500px);
	padding: 0 2rem;
}

.packageButton {
	border: 2px solid var(--clrMain100);
	background: transparent;
	color: var(--clrMain100);
	border-radius: .5rem;
	width: 8rem;
	text-align: center;
}

.packageButton:hover {
	background: var(--clrMain100);
	color: var(--clrMain900);
}

.splitBottom {
	min-height: 60dvh;
	max-width: 100dvw;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
	place-items: center;
	gap: 1rem;
}

.planCard h2 {
	font-size: var(--fsSpecial);
}

.planCard {
	width: 215px;
	height: 350px;
	border: 3px solid var(--clrMain300);
	border-radius: .5rem;
	box-shadow: 5px 5px 15px var(--clrMain100);
	display: grid;
	background: var(--ombreTheme);
	place-items: center;
	gap: 1rem;
	margin: 1rem;
	padding: 1rem;
	padding-right: 1rem;
	font-size: var(--fsMain);
	overflow: hidden;
}

.planCard a + span {
	font-size: .5em;
}

	
#faq,
#Desarrollador {
	color: var(--clrMain100);
	background-color: var(--clrMain300);
	min-height: 100dvh;
	max-width: 100dvw;
	padding: 2rem;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 1;
}
/* 
#faq:after,
#Desarrollador:after {
    content: "";
    position: absolute;
    background: url("images/15.png");
    background-size: cover;
    inset: 0;
    opacity: 1;
    z-index: -1;
} */

#faq h2 {
	padding-bottom: 1rem;
}

.accordion {
    max-width: 800px;
    box-shadow: 0 0 15px var(--clrMain100);
    border-radius: .5rem;
    overflow: hidden;
    background: var(--clrMain900);
}

.accordionLabel,
.accordionContent {
    padding: 14px 20px;
}

.accordionLabel {
    display: block;
    color: var(--clrMain100);
    cursor: pointer;
	border-bottom: 1px solid var(--bgaccent);
    position: relative;
}

.accordionLabel:hover {
    background: rgba(0,0,0,.1);
}

.accordionLabel::after {
    content: "+";
    position: absolute;
    top: 50%;
    transform: translateY(-33%);
    right: 20px;
    width: 12px;
    height: 6px;
    transition: transform .4s;
}

.accordionContent {
    background: var(--bgaccent);
    line-height: 1.6;
    font-size: .85em;
    display: none;
}

.accordionInput {
    display: none;
}

.accordionInput:checked ~ .accordionContent {
    display: block;
}

#faq ul {
	padding-top: 1rem;
}

#advertisement {
	min-height: 100dvh;
	max-width: 100dvw;
	padding: 2rem auto;
}

#advertisement .title,
#advertisement .closing {
	text-align: center;
	padding: 4rem;
	font-size: clamp(1.5rem, 2vw, 2rem);
}

#advertisement .cardContainer {
	
	min-height: 100dvh;
	max-width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	place-items: center;
	padding: 0 20px;
	gap: .5rem;
}

#advertisement .cardContainer .card {
	width: clamp(300px, 19vw, 500px);
	height: auto;
}

#advertisement .card img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 1rem;
	box-shadow: 5px 5px 15px var(--clrMain100);
}

#advertisement #nextPageIcons {
	padding-bottom: 2rem ;
}

#contactMe, 
#Contacto {
	color: var(--clrMain100);
	background: var(--ombreTheme);
	min-height: 80dvh;
	max-width: 100dvw;
	padding: .5rem 2rem;
	margin: 0 auto;
	overflow: hidden;
	display: grid;
	text-align: center;
	place-items: center;
	position: relative;
}
/* 
#contactMe::before,
#Contacto::before {
	content: "";
	position: absolute;
	background-image: url("/images/homePage.png");
	background-size: cover;
	opacity: .5;
} */

#contactMe h2,
#contactMe p {
	padding-bottom: 1rem;
}

.contactContainer {
	display: flex;
	margin: 0 auto;
	place-items: center;
}

.contactContainer .fa {
	display: flex;
	flex-direction: column;
}

.fa {
	color: var(--clrMain100);
	font-size: 1.5rem;
	margin: 1rem;
	place-content: center;
	text-align: center;
}
.contactLinks {
	display: grid;	
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	place-items: center;
}

.contactGrid {
	width: 300px;
	display: flex;
	padding-right: .5rem;
	margin-right: 3rem;
}

.contactGrid .buttons {
	width: fit-content;
	margin: .5rem .5rem;
	height: fit-content;
	gap: .5rem;
}

.contactGrid li {
	display: flex;
	flex-direction: column;
	margin: 0 1rem;
}

.calendar {
	width: clamp(300px, 40dvw, 600px);
	max-height: 500px;
	background: var(--clrMain100);
	border: 2px solid var(--clrMain900);
	box-shadow: 0 0 15px var(--clrMain900);
	border-radius: .5rem;
	margin: 1rem 2rem;
	place-items: center;
}

.calendar a {
	color: var(--clrThemeTeal);
}

#footer {
	min-height: 20dvh;
	max-width: 100dvw;
	padding: .5rem 2rem;
	background: var(--clrMain900);
	color: var(--clrMain100);
	text-align: center;
	margin-bottom: 1rem;
	z-index: 1000;
}

#footer a {
	list-style: none;
	text-decoration: none;
	color: var(--clrThemeTeal);
	margin: 0 1rem;
}

/* package pages */

#startHome,
#sabout,
#sfaq,
#stestimonial {
	max-width: 100dvw;
	min-height: 100dvh;
	margin: 0;
	padding: 4rem 2rem 0 2rem;
}

#scontactMe {
	min-height: 90dvh;
	display: grid;
	place-items: center;
	position: relative;
	z-index: 10;
	padding-top: 4rem;
}

#starterHome {
	min-height: 100dvh;
	max-width: 100dvw;
	color: var(--clrMain100);
	background: var(--clrMain900);
	position: relative;
	text-align: center;
    z-index: 1;
	display: grid;
	place-items: center;
	margin: 0;
	padding: 0;
}

#starterHome::before { 
    content: "";
    position: absolute;
    background-image: url("images/Screenshot\ 2024-09-16\ 091902.png");
	background-size: cover;
	inset: 0;
    opacity: .5;
	z-index: -1;
}

#starterHome header,
 {
	padding-top: 3rem;
}

.starterHomeText {
	display: grid;
	place-items: center;
	padding-bottom: -10rem;
}

.starterHome .center p {
	margin: 1rem auto;
}

.center {
	display: grid;
	place-items: center;
	place-content: center;
	width: clamp(250px, 80vw, 800px);
}

.center h1 {
	font-size: var(--fsSectionHeader);
}

.center h3 {
	font-size: var(--fsMain);
}

.homeButtons {
	display: flex;
	gap: 1rem;
	justify-items: center;
	justify-content: center;
	margin-top: 1rem;
}

.homeButtons a {
	border: 2px solid var(--clrMain100);
	color: var(--clrMain900);
	background: var(--clrMain100);
	border-radius: .5rem;
	width: 5rem;
	font-size: .75rem;
}

.homeButtons a + a {
	background: transparent;
	color: var(--clrMain100);
}

.homeButtons a:hover {
	box-shadow: 3px 3px 10px var(--clrMain100);
	opacity: .5;
}

#sabout {
	display: flex;
	flex-wrap: wrap;
}

#sabout .splitLeft,
#sabout .splitRight {
	width: clamp(300px, 50%, 700px);
	min-height: 90dvh;
	flex: 1;
	padding: 2rem;
	text-align: left;
}

#sabout .splitLeft {
	display: grid;
	margin: 0 auto;
	place-content: center;
	/* place-items: center; */
	text-align: left;
}

#sabout .splitLeft h2 {
	font-size: var(--fsSectionHeader);
	margin-bottom: 1rem;

}
#sabout .splitLeft p {
	font-size: var(--fsContentHeaderMed);
	margin-bottom: 1rem;
	margin-top: 1rem;
}

#sabout .splitRight {
	margin-top: 1rem;
}

.packageList {
	font-size: var(--fsMain);
	text-align: left;
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

.imageCards {
	max-width: 700px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 4rem;
	align-items: center;
	place-content: center;
	margin: auto;
}

.imageCards img {
	border: 2px solid var(--clrMain100);
	border-radius: .5rem;
	box-shadow: 2px 2px 3px var(--clrThemeTeal);
	width: 300px;
	height: 275px;
}

.imgScale {
	object-fit: contain;
	background: var(--clrMain100);
}

#sfaq {
	display: grid;
	place-items: center;
	background: var(--clrMain300);
}

#sfaq .sContainer {
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	gap: 1rem;
	justify-items: center;
	justify-content: center;
}

#sfaq .sContainer a {
	border: 2px solid var(--clrMain100);
	color: var(--clrMain900);
	background: var(--clrMain100);
	border-radius: .5rem;
	width: 5rem;
	font-size: .75rem;
}

#sfaq .sContainer a:hover {
	box-shadow: 3px 3px 10px var(--clrMain100);
	opacity: .5;
}

#sfaq .left, 
#sfaq .right {
	width: var(--splitWidth);
}

#sfaq .right p {
	font-size: .75rem;
}

#scontactMe .container {
	margin-top: 2rem;
	padding: 0 3rem;
	max-width: 80dvw;
	display: grid;
	place-items: center;
}


#scontactMe .major h2 {
	color: var(--clrThemeTeal);
}

#scontactMe::before {
	content: "";
	position: absolute;
	background-image: url("images/Screenshot\ 2024-09-16\ 091902.png");
	background-size: cover;
	opacity: .4;
	inset: 0;
	z-index: -1;
}

/* @media */

@media screen and (max-width: 850px) {
	* {
		text-align: center;
	}

	#home {
		display: grid;
		place-items: center;
		padding: 0 1rem;
		margin: 0 auto;
		min-height: 100dvh;
	}

	#starterHome,
	#plusHome,
	#bespokeHome {
		display: grid;
		place-items: center;
		place-content: center;
		padding: 0 auto;
		margin: 0 auto;
		min-height: 100dvh;
	}

	/* #starterHome .desktop {
		margin-top: 1rem;
		font-size: .5rem;
	} */

	#starterHome header nav ul li {
		font-size: .5rem;
	
	}
	#starterHome header nav ul div {
		scale: 2;
		padding-bottom: 1rem;
	}

	header {
		width: 100%;
		height: fit-content;
		margin: 0;
		padding: 0;
	}

	#starterHome header {
		padding-top: 2rem;
		padding-bottom: 1rem;
	}

	#home .desktop {
		margin-top: -1rem;
		margin-bottom: 3rem;
	}

    #navBar,
	nav {
        display: flex;
		flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: .5rem;
        font-size: var(--fsNavBar);
		margin: 0 auto;
    }
    #navBar * {
        text-decoration: none;
        color: var(--clrMain100);
    }

	#navBar ul { 
        list-style: none; 
        display: flex; 
        justify-content: center; 
        flex-wrap: wrap; 
        text-decoration: none;
        font-size: .5rem;
        height: 5dvh;
        max-width: 100dvw;
        margin: auto;
		padding-right: .5rem;
		gap: .5rem;
    } 

	#navBar ul .faFonts {
		margin-left: 2rem;
		padding: 0 .5rem;
		scale: 2;
	}

	#navBar ul li { 
        margin: 0 10px; 
        text-decoration: none;
        color: var(--clrMain100);
		font-size: .5rem;
        display: flex;
        justify-content: center;
		width: fit-content;
		height: fit-content;
	}
	
	#navBar ul li:hover,
	#navBar ul a:hover {
		background: var(--clrThemeBlue);
	}

    .myLogo {
        width: var(--logoWidth);
        margin: 0 auto;
		margin-top: 1rem;
    }

    .myLogo img {
        width: 70%;
    }

	#starterHome .myLogo {
        width: var(--logoWidth);
        margin-top: 2rem;
        margin: 0 auto;
		padding-top: .5rem;
		margin-bottom: -3rem;
	}

	
    #starterHome .myLogo img {
        width: 70%;
		padding-bottom: .5rem;
    }

	.packageLogo {
		width: var(--packageLogo);
		display: grid;
		align-items: center;
		align-content: center;
        margin: 0 auto;
		padding-top: -3rem;
	}

	.packageLogo img {
        width: 90%;
    }

	.split {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 auto;
		padding: 1rem 2%;
	}

	#home .splitLeft,
	#home .splitRight {
		display: grid;
		place-items: center;
		text-align: left;
		max-width: 90dvw;
		margin: auto;
	}

	/* #sabout .splitRight {
		margin-top: -4rem;
	
	}*/
	#sabout .splitRight .imageCards {
		margin: 0;
	}

	/*#sabout .splitLeft {
		text-align: start;
	} */

	#sabout .splitLeft .packageList {
		text-align: left;
	}

	#packages {
		margin-left: .75rem;
	}
}



